.history-btn{
    margin-top: 1%;
    margin-left: 3%;
    display: block;
    position: fixed;
    z-index:9999;
    background: url(./version.png) no-repeat center;
    background-size:contain;
    width: 30px;
    height: 30px;
}